{% load pages_tags mezzanine_tags i18n staticfiles %}
<div class="mahogany-billboard">
    <div class="navbar navbar-mahogany" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans "Toggle Navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if settings.SITE_TITLE %}<span class="navbar-brand mahogany-major-heading" href="/">{{ settings.SITE_TITLE }}</span>{% endif %}
    {#    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}#}
    </div>
    <div class="navbar-collapse collapse">
    {#    {% search_form "all" %}#}
        {% page_menu "pages/menus/dropdown.html" %}
    </div>
    </div>
    </div>
    <div class="mahogany-below-billboard-left"></div>
    <div class="mahogany-below-billboard-right"></div>
    <div class="mahogany-social-links">
        <span class="fa fa-soundcloud"></span>
        <span class="fa fa-youtube"></span>
        <span class="fa fa-facebook"></span>
        <span class="fa fa-twitter"></span>
    </div>
<style>.mahogany-billboard{background-image:url('{{ MEDIA_URL }}{{ page.background }}')}</style>
</div>


